<div class="container">
    <div class="row d-flex justify-content-center mt-2 p-3 " style="border: 0.00em rgb(59, 178, 233) solid;">
        <!-- category data table  -->

        
        <div class="col-lg-12 col-md-10 col-sm-4 " >
                <div class="table-responsive" style="overflow-y: scroll; height:427px;">
                    <table class="table  table-hover table-striped" >
                        <thead>
                            <tr>
                                <th colspan="3"><input [(ngModel)]="keyword" style="width:15em;" class="form-control"  type="text" placeholder="Search here"></th>
                                <th colspan="3" >
                                    <button  (click)="addProduct()" class="btn btn-primary" >ADD PRODUCT</button>
                                </th>
                            </tr>
                          <tr class="table-info">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category-Subcategory</th>
                            <!-- <th scope="col">Images</th> -->
                            <th scope="col">Stock</th>
                            <th scope="col">Images</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Discount (%)</th>
                            <th scope="col">Color</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of products | filter : keyword; let i =index">
                            <td>{{i+1}}</td>
                            <td>{{p.ProductName}}</td>
                            <td>{{p.ProductDescription}}</td>
                            <td>{{p.CategoryName}}-{{p.SubcategoryName}}</td>
                            <!-- <td><img class="img-responsive" style="height: 7em;width:11em;" src="{{p.ProductImages[0].Image}}" alt="{{p.ProductName}}"></td> -->
                            <td><button class="btn btn-info" id="stockBtn" data-toggle="modal" (click)="populateSize(p)" data-target="#StockModal" data-backdrop="static" data-keyboard="false">Manage</button></td>
                            <td><button class="btn btn-info" data-toggle="modal" (click)="populateImages(p)" data-target="#ImageModal" data-backdrop="static" data-keyboard="false">Manage</button></td>
                            <td>{{p.UnitPrice}}</td>
                            <td>{{p.DiscountPercentage}} %</td>
                            <td>{{p.Color}} </td>
                            <!-- <div [style.backgroundColor]="p.Color">ee</div> -->
                            <td><button class="btn btn-info" data-toggle="modal"  data-target="#DetailsModal" (click)="populateDetails(p)"  data-backdrop="static" data-keyboard="false">Manage</button></td>
                          </tr>                       
                        </tbody>
                      </table>
                </div>
        </div>
    </div>

<!-- ImageModal -->
<div class="modal fade" (focusout)="imageModalFocusOut()" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="ImageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Manage Images of {{product.ProductName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-1 ">
          <div class="col-lg-12">
            <form [formGroup]="productService.ImageForm" (ngSubmit)="onImageSubmit()">
              <div class="form-row">
                <div class="form-group">
                  <label for=""><strong>Add More Images  </strong>  </label>    
                  <input class="form-control-file" type="file" formControlName="Files" (change)="onImageSelected($event)" multiple>
                    <span class="alert-danger" *ngIf="Files.touched && Files.errors?.required">Please select atleast 1 image!</span>           
                  
                  </div>
                <div class="form-group ">
                  <button [disabled]="productService.ImageForm.invalid" class="btn btn-primary mt-4">ADD</button>
                </div>
                
              </div>

            </form>
           
          </div>         
        </div>
        <hr>
        <div class="col-lg-12" style="border:0px solid black;">
          <p class="h2" style="text-align: center;">{{title}}</p>
          <div *ngIf="title =='Image Preview'" class="row" style="overflow-y: scroll; height:370px;">
             
            <div class="show-image m-4 p-0 " style="border: 0px solid black;" *ngFor="let i of images">
              

  <img class="img-thumbnail" src="{{i}}" height="200" width="200" style="border:0px solid black;">
                
            </div>
            
        </div>
          <div *ngIf="title !='Image Preview'" class="row" style="overflow-y: scroll; height:370px;">
             
              <div class="show-image m-3 p-0 " style="border: 1px solid black;" *ngFor="let i of productImages">
                
                  <img class="img-thumbnail" src="{{baseURL}}{{i.Image}}" height="200" width="200" style="border:0px solid black;">
                  <button  (click)="deleteImage(i)" style="border-radius: 40px;color:white;background-color: #f3441d;font-weight: 30px;" class="delete" type="button"  ><i class="fa fa-times"></i></button>
              </div>
              
          </div>
      </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<!-- StockModal -->
<div class="modal fade"  id="StockModal" tabindex="-1" role="dialog" aria-labelledby="StockModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Stocks</h5>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 offset-lg-3">
            <form [formGroup]="productService.StockForm" (ngSubmit)="onSubmitStocks()">
              <strong>Select Sizes :</strong>
              <div class="form-row ">
                    <div class=" form-group m-1" formArrayName="Stocks"
                        *ngFor="let size of productService.StockForm.get('Stocks')['controls'];let i=index">
                        <div class="form-row" [formGroupName]="i">
                            <div class="form-group m-1">
                                <select class="form-control" (change)="onSizeSelect($event)" (click)="getLastSelectSize($event)"  formControlName="SizeID">
                                      <option value="" disabled selected>Choose Size</option>
                                      
                                        <option *ngFor="let s of sizes" [disabled]="s.Selected" [ngValue]="s.SizeID">
                                            {{s.Name}} </option>

                                      
                                     
                                      
                                </select>
                                <span class="alert-danger" *ngIf="stocks.controls[i].get('SizeID').touched && stocks.controls[i].get('SizeID').errors?.required">Please select size!</span>
                              
                          </div>
                            <div class="form-group m-1">
                                <input type="number" style="width: 120px;" placeholder="Quantity"
                                    formControlName="Quantity" class="form-control">
                                    <span class="alert-danger" *ngIf="stocks.controls[i].get('Quantity').touched && stocks.controls[i].get('Quantity').errors?.required">Please enter quantity!</span>
                            </div> 
                            <div *ngIf="productService.StockForm.get('Stocks')['controls'].length!=1">
                                <a (click)="deleteSize(i)" *ngIf="(productService.StockForm.get('Stocks')['controls'].length-1)!=i"><i style="color:red;font-size:x-large" class="fa fa-window-close m-2" aria-hidden="true"></i></a>   
                            </div>
                                                    
                        </div>
                    </div>
    
                    <div class="form-group m-1">
                        
                        <button type="button"
                            [disabled]="productService.StockForm.get('Stocks')['controls'].length===5&&plusBtn"
                            class="btn btn-primary m-1" (click)="addStock()">+ </button>                           
                        <button type="button"
                            [disabled]="productService.StockForm.get('Stocks')['controls'].length===1"
                            class="btn btn-danger text-white m-1" (click)="deleteStock(productService.StockForm.get('Stocks')['controls'].length)">- </button>
                    </div>
                    
              </div>
              <div class="form-row">
                <div class="form-group">
                    <button class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<!-- Details Update Modal -->
<div class="modal fade"  id="DetailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Manage Details of {{product.ProductName}}</h5>
        <button type="button" id="closeDetailsModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <form [formGroup]="productService.ProductForm"  (ngSubmit)="onSubmitDetails()">
        
              <div class="row " >
              
                  <div class="col-lg-10" >
                      
                      <div class="form-group m-2">
                        <span><strong>Product Name :</strong>  </span>
                          <input placeholder="Name" formControlName="ProductName" class="form-control" type="text">
                          <span class="alert-danger" *ngIf="ProductName.touched && ProductName.errors?.required">Please enter product name!</span>
                      </div>
                      <div class="form-group m-2">
                        <span><strong> Color :</strong>  </span>
                          <input placeholder="Color" formControlName="Color" class="form-control" type="text" >
                          <span class="alert-danger" *ngIf="Color.touched && Color.errors?.required">Please enter color! </span>
                      </div>
                      <div class="form-group m-2">
                        <span><strong>Unit Price :</strong>  </span>
                          <input placeholder="Unit Price (in Rs.)" formControlName="UnitPrice" class="form-control" type="number" >
                          <span class="alert-danger" *ngIf="UnitPrice.touched && UnitPrice.errors?.required">Please enter per unit price!</span>
                      </div>              
                      <div class="form-group m-2">
                        <span><strong> Discount :</strong>  </span>
                          <input placeholder="Discount (%)" formControlName="DiscountPercentage" class="form-control" type="number" >
                          <span class="alert-danger" *ngIf="DiscountPercentage.touched && DiscountPercentage.errors?.required">Please enter discount in (%) !</span>
                      </div>
                      <div class="form-group m-2">
                        <span><strong> Description :</strong>  </span>
                          <textarea class="form-control" formControlName="ProductDescription" placeholder="Description" cols="50" rows="4"></textarea>
                          <span class="alert-danger" *ngIf="ProductDescription.touched && ProductDescription.errors?.required">Please enter product description!</span>
                      </div>                 
                      <div class="form-group d-flex justify-content-center m-2">
                          <button [disabled]="productService.ProductForm.invalid" class=" form-control btn btn-success ">Update</button>
                      </div>
                  </div>
              </div>
      
          </form>
          </div>

        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

</div>

