<!--/login -->
<section class="banner-bottom">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-unlock-alt"></span>
            </div>
            <div class="content-bottom">
                
                <form [formGroup]="basicService.signinForm" (ngSubmit)="onSignin()">
                    <div class="field-group">

                        <div class="content-input-field">
                            <input formControlName="Email" placeholder="User Name" required="">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input formControlName="Password" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="content-input-field">
                        <button [disabled]="basicService.signinForm.invalid" type="submit" class="btn">Sign In</button>
                    </div>
                    <ul class="list-login">
                        <li class="switch-slide">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                keep Logged in
                            </label>
                        </li>
                        <li>
                            <a href="#" class="text-right">Forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="register.html" class="">Don't have an Account?</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-right">Need Help?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /login -->