    <!--/login -->

        <div class="container">
            <div class="content-grid">
                <div class="text-center icon">
                    <span class="fa fa-user-circle-o"></span>
                </div>
                <div class="content-bottom">
                    <form [formGroup]="basicService.signupForm" (ngSubmit)="onSignup()">
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="FirstName" placeholder="First Name" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="MiddleName" placeholder="Middle Name">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="LastName" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="Email" placeholder="someone@email.com" type="email" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="Phone" placeholder="Mobile number (10 digits)" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input formControlName="Password" placeholder="Password" type="password" required="">
                            </div>
                        </div>
                        <div class="content-input-field">
                            <button [disabled]="basicService.signupForm.invalid" type="submit" class="btn">Sign Up</button>
                        </div>
                        <div class="list-login-bottom text-center mt-lg-5 mt-4">
                            <a href="#" class="">By clicking Signup, I agree to your terms</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
