<div class="container">
    <div class="row mt-2" style="border: 0.01em rgb(59, 178, 233) solid;" >
        <!-- Category form -->
        <div class="col-lg-6 col-md-6 col-sm-4 p-3  justify-content-center">
            <h4 class="text-center mb-3">Manage Category</h4>

                
                <form [formGroup]="categoryService.CategoryForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                    
                        <div class="form-group">
                            <input   class="form-control" formControlName="CategoryName" type="text" placeholder="Name" autofocus>
                            <span class="alert-danger" *ngIf="CategoryName.touched && CategoryName.errors?.required">Please provide category name!</span>
                        </div>
                        <div class="form-group">
                            <textarea cols="30"  class="form-control" formControlName="Description" type="text" placeholder="Description"></textarea>
                            <span class="alert-danger" *ngIf="Description.touched && Description.errors?.required">Please provide description name!</span>
                        </div>
                        <div class="form-group">
                            <input class="form-file" formControlName="Image" (change)="onImageChange($event)"  type="file" >
                            <span class="alert-danger" *ngIf="Image.touched && Image.errors?.required">Please provide image name!</span>
                        </div>
                        

                    <div class="form-group ">
                        <button style="width: fit-content;" [disabled]="categoryService.CategoryForm.invalid" class="btn btn-info form-control">SAVE</button>
                    </div>
                </form>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-4  d-flex  justify-content-center" style="border: 0px solid black;" >
            <img class="img-responsive mt-5 p-2" *ngIf="ResultedFile" [src]="ResultedFile" style="width:300px;height:300px;" >
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2 p-3 " style="border: 0.01em rgb(59, 178, 233) solid;">
        <!-- category data table  -->

        
        <div class="col-lg-12 col-md-10 col-sm-4 " >
                <div class="table-responsive" style="overflow-y: scroll; height:450px;">
                    <table class="table  table-hover" >
                        <thead>
                          <tr class="table-info">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">

                                <input style="width:15em;" class="form-control" (keyup)="search($event)" type="text" placeholder="Search here">
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let c of categories; let i =index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{c.CategoryName}}</td>
                            <td>{{c.Description}}</td>
                            <td><img class="img-responsive" style="height: 7em;width:11em;" src="{{c.Image}}" alt="{{c.CategoryName}}"></td>
                            <td><button (click)="deleteCategory(c)"  data-toggle="tooltip" title="Delete"
                                class="btn btn-danger m-1"><i class="fa fa-trash fa-1x"></i></button>  <button (click)="editCategory(c)"  data-toggle="tooltip" title="Edit"
                                    class="btn btn-warning text-white m-1"><i class="fa fa-pencil fa-1x"></i></button></td>
                          </tr>                       
                        </tbody>
                      </table>
                </div>
        </div>
    </div>
</div>
