div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover button.delete {
    display: block;
}
div.show-image button.delete {
    position:absolute;
    display:none;
}
div.show-image button.delete {
    top:2%;
    left:85%;
}
div.show-image button.delete:hover {
    border:2px solid white;
}